body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #eeeded;
  }
  
  form {
    max-width: 600px;
    margin: auto;
    background-color: #b0d1a2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(128, 111, 111, 0.1);
    padding: 20px;
  }
  
  fieldset {
    border: 2px solid rgb(34, 33, 33);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #82a579;
  }
  
  legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    color: #1b1d1b;
    font-size: x-large;
  }
  
  label {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    color: #1a1717;
    font-size: large;
  }
  
  input,
  textarea {
    width: calc(100% - 1px);
    padding: 10px;
    margin-top: 4px;
    border: 3px solid #383b3f;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }
  
  input:focus,
  textarea:focus {
    border-color: #817c7c;
    outline: none;
    background-color: #e8f7e3;
    animation: focusAnimation 0.3s ease-in-out;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #f0f4f8;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #000000;
    color: #e6d8d8;
  }
  
  #resumeOutput {
    max-width: 600px;
    font-size: large;
    margin: auto;
    padding: 20px;
    border: 2px solid #111111;
    border-radius: 10px;
    background-color:#b0ceaa;
    box-shadow: 0 4px 8px #94828225;
  }
  
  #resumeOutput h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    color: #000000;
  }
  
  .profilepicture{
    display: block;
    margin: 1 auto;
    border: 2px solid #1a1818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  /* Keyframes for animation */
  @keyframes focusAnimation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.05);
    }
  }
  